<!DOCTYPE html>
<html>
  <head>
    <title>AuthExampleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_user.nil? %>
      <p> Hello, welcome back!</p>
    <% else %>
      <p> Please sign up </p>
    <% end %>
    <%= yield %>
  </body>
</html>
